.favorite {
    &__card {
        display: flex;
        border-radius: $border-radius;
        border: 1px solid #fff;
        width: 70%;
        justify-content: space-between;
        margin-bottom: 2rem;

        @include respond(md) {
            width: 90%;
        }

        @include respond(xs) {
            min-height: 9rem;
        }

        &:hover {
            border: 1px solid #fff;
        }

        &-ah--1 {
            color: $text-color-light;
            font-weight: $fw-light;
            padding: 1rem;

            @include respond(xs) {
                padding: 1rem;
            }
        }

    }

    &__btn {
        background-color: transparent;
        border: 1px solid #fff;
        min-height: 50%;
        padding: 1rem;
        outline: none;
        cursor: pointer;
        background-color: #fff;
        transition: $transition-time;

        @include respond(md) {
            min-width: 10rem;
        }

        &:hover {
            background-color: transparent;

            & svg path:last-of-type {
                fill: $text-color-light;
            }
        }

        &:first-of-type {
            border-bottom-color: $color-2;
            border-top-right-radius: $border-radius;

            @include respond(xs) {
                border-right-color: $color-2;
                border-bottom-color: #fff;
                border-top-right-radius: unset;
            }
        }

        &:last-of-type {
            border-top-color: $color-2;
            border-bottom-right-radius: $border-radius;

            @include respond(xs) {
                border-top-color: #fff;
                border-top-right-radius: $border-radius;
            }
        }

        & svg path:last-of-type {
            fill: $color-2;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;

            @include respond(xs) {
                flex-direction: row;
            }
        }
    }

    &-h--1 {
        margin-bottom: 4rem;
    }
}