.sideview {
    margin-left: 10rem;
    min-width: 30%;
    height: 100vh;
    background: rgba(47, 128, 237, 0.6);
    backdrop-filter: blur(24px);
    padding-top: 10rem;
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all $transition-time ease-in;
    
    @include respond(xl) {
        padding-top: 5rem;
    }

    @include respond(lg) {
        height: unset;
        padding-left: 4rem;
        padding-top: 4rem;
        margin-left: unset;
        min-width: 50%
    }

    @include respond(xs) {
        width: 100vw;
        min-width: unset;
        margin-bottom: 10rem;
        padding-left: 1rem;
        min-height: 37%;
        overflow-y: auto;
    }

    &-dark {
        background: $darkBG;
        transition: all $transition-time ease-in;
    }
}