.current {
    padding-top: 2rem;

    &__weather {
        display: flex;
        width: 100%;
        border: 1px solid #000;
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
        
        &-details {
            display: flex;
        }

        &-icon {
            max-width: 10rem;
            margin-right: 4rem;
        }

        &-utils {
            display: flex;

            &--icon {
                margin: 0 2rem;
                cursor: pointer;
            }
        }
    }
}