.current {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;

    &__weather {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
        &-details {
            display: flex;
            color: $text-color-light;
        }

        &-icon {
            max-width: 10rem;
            margin-right: 4rem;
        }

        &-utils {
            display: flex;

            &--icon {
                margin: 0 2rem;
                cursor: pointer;
            }
        }
    }

    &-h--1 {
        font-weight: $fw-light;
    }

    &-h--2 {
        font-weight: $fw-light;
    }
    
}