.forecast {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 60%;
    justify-content: space-evenly;
    margin-top: 2rem;
    max-width: 50%;
    margin: 0 auto;

    &__card {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $text-color-light;
        border: 1px solid transparent;
        transition: all .2s ease-in;
        border-radius: 3px;
        padding: 1rem;

        &:hover {
            border: 1px solid #fff;
        }

        &-item {
            width: 33%;
            display: flex;
            justify-content: center;
            font-family: $font-1;

            &--temp {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & p:first-of-type {
                    margin-bottom: .5rem;
                }
            }
        }

    }
}