.search {
    display: flex;
    margin-bottom: 2rem;
    max-width: 75%;
    width: 75%;

    @include respond(lg) {
        margin-bottom: 7rem;
        margin-top: 7rem;
    }

    @include respond(xs) {
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding-left: 2rem;
        max-width: unset;
        width: 90%;
        margin-bottom: 4rem;
    }

    & input {
        background: transparent;
        color: $text-color-light;
        background: transparent;
        border: 1px solid #fff;
        min-height: 4rem;
        text-indent: 1rem;
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
        width: 100%;
        outline: none;

        &::placeholder {
            color: $text-color-light;
            font-size: 1.8rem;
        }
    }

    &__btn {
        border: 1px solid #fff;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding: 1rem;
        &:not(:disabled) {
            cursor: pointer;
        }
    }
}