.sideview {
    margin-left: 10rem;
    max-width: 30%;
    height: 100vh;
    background: rgba(47, 128, 237, 0.6);
    backdrop-filter: blur(24px);
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    
}