.temperature {
    margin-top: 10rem;
    padding-left: 10rem;
    display: flex;

    @include respond(md) {
        padding-left: 4rem;
    }

    &__details {
        & img {
            min-width: 15rem;
        }
    }
}