$font-1: "";


$font-2: "";

//===Font Weights===
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-book: 350;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// ===Colors===
$color-1:#9f12f1;
$color-2:#97a321;
$color-3:#19eb97;
$color-4:#5888b4;
$text-color-dark:#333;
$text-color-light:#fff;
$text-color-gray: #9e9e9e;
$input-placeholder: #9e9e9e;
$bg-gray:#eee;
$bg-white:#fff;
$primaryBG: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);

// Default colors
$color-danger: #d9534f;

// ===Text Sizes===
$disclaimer-text: 13px;

// Desktop text sizes
$dsk-headline--1: 7rem;
$dsk-headline--2: 7rem;
$dsk-headline--3: 3rem;
$dsk-article-headline-1: 5rem;
$dsk-article-headline-2: 5rem;
$dsk-article-headline-3: 5rem;
$dsk-article-headline-4: 3rem;
$dsk-article-paragraph-1: 2rem;
$dsk-article-paragraph-2: 1.5rem;
$dsk-btn-fs: 2rem;
$dsk-btn-2-fs: 2.3rem;

// Laptop 1440px
$lap-headline--1: 7rem;
$lap-headline--2: 7rem;
$lap-headline--3: 3rem;
$lap-article-headline-1: 6rem;
$lap-article-headline-2: 6rem;
$lap-article-headline-3: 5rem;
$lap-article-headline-4: 3rem;
$lap-article-paragraph-1: 2.5rem;
$lap-article-paragraph-2: 2.5rem;
$lap-btn-fs: 2.4rem;
$lap-btn-2-fs: 2.3rem;

// xl 1280px
$xl-headline--1: 7rem;
$xl-headline--2: 7rem;
$xl-headline--3: 3rem;
$xl-article-headline-1: 6rem;
$xl-article-headline-2: 6rem;
$xl-article-headline-3: 5rem;
$xl-article-headline-4: 4rem;
$xl-article-paragraph-1: 2.5rem;
$xl-article-paragraph-2: 2.5rem;
$xl-btn-fs: 2rem;
$xl-btn-2-fs: 2.3rem;

// ipad pro text sizes
$ipro-headline--1: 6rem;
$ipro-headline--2: 6rem;
$ipro-headline--3: 3rem;
$ipro-article-headline-1: 6rem;
$ipro-article-headline-2: 6rem;
$ipro-article-headline-3: 5rem;
$ipro-article-headline-4: 3rem;
$ipro-article-paragraph-1: 2.2rem;
$ipro-article-paragraph-2: 2.5rem;
$ipro-btn-fs: 2rem;
$ipro-btn-2-fs: 2.3rem;

// ipad
$ip-headline--1: 6rem;
$ip-headline--2: 6rem;
$ip-headline--3: 3rem;
$ip-article-headline-1: 5rem;
$ip-article-headline-2: 5rem;
$ip-article-headline-3: 5rem;
$ip-article-headline-4: 3rem;
$ip-article-paragraph-1: 2.2rem;
$ip-article-paragraph-2: 2.5rem;
$ip-btn-fs: 2rem;
$ip-btn-2-fs: 2.3rem;

// mobile  text sizes
$mob-headline--1: 6rem;
$mob-headline--2: 6rem;
$mob-headline--3: 3rem;
$mob-article-headline-1: 4rem;
$mob-article-headline-2: 4rem;
$mob-article-headline-3: 3.5rem;
$mob-article-headline-4: 3rem;
$mob-article-paragraph-1: 2.2rem;
$mob-article-paragraph-2: 2.5rem;
$mob-btn-fs: 16px;
$mob-btn-2-fs: 2.3rem;

$input-fs: 2.4rem;

// ===Text Sizes===
$disclaimer-text: 11px;
$disclaimer-text-mobile: 11px;
